<!doctype html>
<html>
<head> 
    <title>SAV - Seu Anúncio Virtual - {{titulo}}</title>
</head>
<body>
    <header>
        <h1>SAV - Seu Anúncio Virtual</h1>
    </header>

    <main>
        <h4>
            Categorias            
        </h4>

        <form action="escolher_categoria" method="post" >
            <select name="categoria">
            <option value="cozinha">Cozinha</option>
            <option value="eletronico">Eletrônico</option>
            <option value="roupa">Roupa</option>
            <option value="brinquedo">Brinquedo</option>
            </select>
            
            <input type="submit" value="Selecionar">
        </form>

    </main>

</body>
</html>