<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAV - Seu Anúncio Virtual - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .page-header {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <p><a href="{{ url_for('index') }}" class="btn btn-primary"><i class="fas fa-home"></i> Voltar para a Página Inicial</a></p>

        <div class="page-header text-center">
            <h4 class="text-primary"><i class="fas fa-reply"></i> Lista de Respostas</h4>
        </div>

        <!-- pra fazer resposta -->
        <div class="mb-4">
            <h5>Adicionar Nova Resposta</h5>
            <form action="{{ url_for('criarresposta') }}" method="POST">
                <div class="mb-3">
                    <label for="conteudo" class="form-label">Resposta:</label>
                    <textarea id="conteudo" name="conteudo" class="form-control" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="pergunta" class="form-label">Pergunta:</label>
                    <select id="pergunta" name="pergunta" class="form-select" required>
                        {% for pergunta in perguntas %}
                        <option value="{{ pergunta.id }}">{{ pergunta.conteudo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Resposta</button>
            </form>
        </div>

        <!-- lista de respostas -->
        <ul class="list-group mt-3">
            {% for resposta in respostas %}
                <li class="list-group-item">
                    <strong>Resposta:</strong> {{ resposta.conteudo }} <br>
                    <strong>Pergunta:</strong> {{ resposta.pergunta.conteudo }} <br>
                    <strong>Data:</strong> {{ resposta.data.strftime('%d/%m/%Y %H:%M:%S') }}
                </li>
            {% else %}
                <li class="list-group-item">Nenhuma resposta encontrada.</li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>
