<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAV - Seu Anúncio Virtual - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .page-header {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <p><a href="{{ url_for('index') }}" class="btn btn-primary"><i class="fas fa-home"></i> Voltar para a Página Inicial</a></p>

        <div class="page-header text-center">
            <h4 class="text-primary"><i class="fas fa-question-circle"></i> Lista de Perguntas</h4>
        </div>

        <!-- pra fazer pergunta -->
        <div class="mb-4">
            <h5>Adicionar Nova Pergunta</h5>
            <form action="{{ url_for('criarpergunta') }}" method="POST">
                <div class="mb-3">
                    <label for="conteudo" class="form-label">Pergunta:</label>
                    <textarea id="conteudo" name="conteudo" class="form-control" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="anuncio" class="form-label">Anúncio:</label>
                    <select id="anuncio" name="anuncio" class="form-select" required>
                        {% for anuncio in anuncios %}
                        <option value="{{ anuncio.id }}">{{ anuncio.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Pergunta</button>
            </form>
        </div>

        <!-- botão -->
        <div class="mb-4 text-center">
            <a href="{{ url_for('listar_respostas') }}" class="btn btn-secondary">Ver Todas as Respostas</a>
        </div>
        
        <!-- mostrar as perguntas feitas nos anuncios --> 
        {% if perguntas %}
            <ul class="list-group">
                {% for pergunta in perguntas %}
                    <li class="list-group-item">
                        <h5>{{ pergunta.conteudo }}</h5>
                        <p><strong>Para o anúncio:</strong> {{ pergunta.anuncio.nome }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma pergunta encontrada.</p>
        {% endif %}
    </div>
</body>
</html>
