<!doctype html>
<html>
<head> 
    <title>SAV - Seu Anúncio Virtual - {{titulo}}</title>
</head>
<body>
    <header>
        <h1>SAV - Seu Anúncio Virtual</h1>
    </header>

    <p><a href="{{ url_for('index') }}">Voltar para a Página Inicial</a></p>


    <main>
        <h4>Relatório de Vendas</h4>
        <table>
            <tr>
                <th>Código do Anúncio:</th>
                <th>Data:</th>               
                <th>Produto:</th>
                <th>Quantidade:</th>
                <th>Preço:</th>
            </tr>

            <tr>
                <td>1</td>
                <td>01/08/2024</td>
                <td>Produto 1</td>
                <td>5</td>
                <td>R$ 2000,00</td>
            </tr>
        </table>
    </main>

    </html>